<%= simple_form_for user, class: 'form-group row', remote: true do |f| %>
	<%= f.input :name, label: false, placeholder: 'Your name...', class: 'form-control' %>
	<%= f.input :phone_number, label: false, placeholder: 'Your name...', class: 'form-control' %>
	<%= f.input :adress, label: false, placeholder: 'Your name...', class: 'form-control' %>
	<div class="row">
	<label class="btn btn-primary btn-block" for="comment-selector">
	<%= f.file_field :avatar, id: "comment-selector", style: 'display: none;'  %>
	<p style='font-size: 130%'>Load Image<p>
	</label></div>
	<div class="row">
		<%= f.button :submit, class: "btn btn-lg btn-success btn-block" %>
	</div>
<% end %>